// ==========================================================================
// Footer Styles
// ==========================================================================

.footer {
	position: absolute;
    bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
 	height: 60px;
 	clear: both;
  	padding-top: 20px;
  	background-color: transparent;
  	
  	p {
  		color: $color-secondary;
  	}
}


